@media screen and (max-width: 840px) {
  .toggle_button {
    /* margin-left: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    margin-left: 25px;
    background-color: transparent;
    cursor: pointer;
  }

  .toggle_button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 10px;
  }
}
